.DS_Store
*.ipynb_checkpoints/
*__pycache__/

.idea/
.vscode/
experiments/
!experiments/check_dynamic.ipynb

sism/_version.py
.eggs/*
*.egg-info/
sism/MNIST/*gif
sism/MNIST/experiment
sism/MNIST/runs
sism/MNIST/MNIST
*ckpt
*png
*pdf
sism/data
MNIST-figures.pptx
mnist-gifs.pptx
sism/mnist/visualize_bridge.ipynb
sism/mnist/vizualisations/bbdm_trajectory_0.gif
sism/mnist/vizualisations/bbdm_trajectory_1.gif
sism/mnist/vizualisations/bbdm_trajectory_2.gif
sism/mnist/vizualisations/bbdm_trajectory_3.gif
sism/mnist/vizualisations/bbdm_trajectory_4.gif
sism/mnist/vizualisations/bbdm_trajectory_5.gif
sism/mnist/vizualisations/bbdm_trajectory_6.gif
sism/mnist/vizualisations/bbdm_trajectory_7.gif
sism/mnist/vizualisations/bbdm_trajectory_8.gif
sism/mnist/vizualisations/bbdm_trajectory_9.gif
sism/mnist/vizualisations/gsm_trajectory_0.gif
sism/mnist/vizualisations/gsm_trajectory_1.gif
sism/mnist/vizualisations/gsm_trajectory_2.gif
sism/mnist/vizualisations/gsm_trajectory_3.gif
sism/mnist/vizualisations/gsm_trajectory_4.gif
sism/mnist/vizualisations/gsm_trajectory_5.gif
sism/mnist/vizualisations/gsm_trajectory_6.gif
sism/mnist/vizualisations/gsm_trajectory_7.gif
sism/mnist/vizualisations/gsm_trajectory_8.gif
sism/mnist/vizualisations/gsm_trajectory_9.gif
sism/notebooks/.so3_cdf_vals4.npy
sism/notebooks/.so3_exp_score_norms4.npy
sism/notebooks/.so3_omegas_array4.npy
sism/notebooks/.so3_score_norms4.npy

sism/earth_science/sism/models/*/*.pt
!sism/earth_science/sism/models/*/*_seed42.png
!sism/earth_science/sism/models/*/*_seed42_generated.png
!assets/training_sampling_algorithms.png
tmp/*

sism/plcomplex/rsgm/.so3_cdf_vals4.npy
sism/plcomplex/rsgm/.so3_exp_score_norms4.npy
sism/plcomplex/rsgm/.so3_omegas_array4.npy
sism/plcomplex/rsgm/.so3_score_norms4.npy